<!DOCTYPE html>
<html>
  <head>
    <title>Fullstack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script type="text/javascript">
      window.logo = '<%= image_url('soundcloud.png')%>'
      window.comment = '<%= image_url('comment.png')%>'
      window.play = '<%= image_url('play1600.png')%>'
      window.pause = '<%= image_url('pause.png')%>'
      window.edit = '<%= image_url('edit.png')%>'
      window.delete = '<%= image_url('delete1.png')%>'
      window.user = '<%= image_url('user.jpg')%>'
      window.play = '<%= image_url('play.png')%>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
