<!DOCTYPE html>
<html>
  <head>
    <title>Fullstack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

    <script type="text/javascript">
      window.logo = '<%= image_url('soundcloud.png')%>'
      window.user = '<%= image_url('user.jpg')%>'
      window.play = '<%= image_url('play.png')%>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
